<h1>Locations</h1>

<ul>
	<% for location in @locations %>
		<% if location.name.present? %>
			<li><%= link_to location.name, location_visits_path(location.id) %> - <%= location.city %></li>
			<% else %>
			<li><%= link_to location.city, location_visits_path(location.id) %></li>
		<% end %>
	<% end %>
</ul>